{% extends 'layouts/base.html.twig' %}

{% block title 'Nouvelle carte' %}

{% block body %}
<div class="row col-12">
	<div class="col-md-6 mx-auto">
	<h1 class="text-center col-12">Créer une nouvelle carte</h1>
	
	{{include('layouts/partials/_form.html.twig')}}
</div>
</div>
{% endblock %}
