{% extends 'base.html.twig' %}

{% block title 'Nouvelle carte' %}

{% block body %}
	<h1>Créer une nouvelle carte</h1>
	{{ form_start(formulaire) }}
	{{form_widget(formulaire)}}
	<input type="submit" value="Créer la carte">
	{{ form_end(formulaire) }}
	
{% endblock %}
