{% extends 'layouts/base.html.twig' %}

{% block title 'Nouvelle carte' %}

{% block body %}
<div id="cardCreate" class="card p-3 row">
	<div class="col mx-auto">
	<h1 class="text-center col-12">Créer une nouvelle carte</h1>
	{{include('layouts/partials/_form.html.twig')}}
</div>
</div>
{% endblock %}
