{% extends 'base.html.twig' %}

{% block title 'Modifier '~ card.title %}

{% block body %}
	<h1>Créer une nouvelle carte</h1>
	{{ form_start(formulaire) }}
		{{form_widget(formulaire)}}
		<input type="submit" value="Sauvegarder">
	{{ form_end(formulaire) }}

{% endblock %}
