{% extends 'layouts/base.html.twig' %}

{% block title 'Modifier '~ card.title %}

{% block body %}
<div id="cardEdit" class="card p-3 row col-9">
	<div class="col mx-auto">
	<h1 class="text-center col-12">Modifier la carte</h1>
	{{include('layouts/partials/_form.html.twig', {submitButtonText: 'Enregistrer'})}}
</div>

{% endblock %}
