{% extends 'layouts/base.html.twig' %}

{% block title 'Modifier '~ card.title %}

{% block body %}
<div class="row col-12">
	<div class="col-md-6 mx-auto">
	<h1 class="text-center col-12">Modifier la carte</h1>
	{{include('layouts/partials/_form.html.twig', {submitButtonText: 'Enregistrer'})}}
</div>
</div>

{% endblock %}
