{% extends 'base.html.twig' %}

{% block title 'Majordome' %}

{% block body %}
<h1>{{ pluralize(cards|length, 'Card') }}</h1>

{% for card in cards %}
	<article>
		<h2><a href="{{ path('app_cards_show', {id: card.id}) }}">{{card.title}}</a></h2>
		<p>{{card.description}}</p>
	</article>
{% endfor %}
{% endblock %}
