<footer class="mt-5 light1 row col-12">
	<div class="container d-flex justify-content-center">
		<p>&copy; {{date()|date('Y') }} | Made with <span class="text-danger">&hearts;</span> by Vincent M.</p>
	</div>
</footer>