@import url("https://fonts.googleapis.com/css2?family=Neuton&display=swap");
@import "shared/variables";
@import "~bootstrap";
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/brands';

html,
body {
	font-family: "Neuton", serif;
	background-color: $dark1;
}
img {
	max-width: 100%;
	height: auto;
}
a {
	transition: 0.3s ease-in-out;
}
ul{
	padding: 0;
	list-style-type: none;
}
.underline {
	border-bottom: 1px white solid;
	transition: 0.3s ease-in-out;
}
.navbar-brand {
	position: relative;
}
.navbar-nav {
	position: relative;
}
.focus-border {
	position: absolute;
	bottom: 0;
	left: 0;
	height: 2px;
	background-color: white;
}
.dark1 {
	background-color: $dark1;
}
.dark2 {
	background-color: $dark2;
}
.light1 {
	color: $light1;
}
.light2 {
	color: $light2;
}
.primary {
	background-color: $primary;
}
.secondary {
	background-color: $secondary;
}
.ternary {
	background-color: $ternary;
}
.btn-yellow {
	color: $dark1;
	background-color: $primary;
	border: 1px $light1 solid;
	transition: 0.2s ease-in-out;
	&:hover {
		box-shadow: inset 0 0 10px #000000;
	}
}

.btn-sub{
	color: $primary;
	border: 1px $light1 solid;
	background-color: $opaque;
	transition: 0.5s ease-in-out;
	border-radius: 0 0 10px 10px;
	border-top: none;
	&:hover {
		background-color: $primary;
		color: $dark1;
	}
	.subscribeIcon{
		transform: translateY(2.2px);
	}
}
.unsubscribeIcon{
	position: absolute;
	top: 0;
	right: 1em;
	color: red;
}

.opaque {
	background-color: $opaque;
}

.btn-pale{
	color: $light1;
	border: 1px $primary solid;
	transition: 0.5s ease-in-out;
	&:hover {
		background-color: $primary;
		color: $dark1;
	}
}


.alert {
	padding: 10px;
	color: white;
	text-align: center;
	margin: 0;
	border: none;
	border-radius: 0;
	&.alert-success {
		background-color: $light1;
		color: $dark1;
	}
	&.alert-error {
		background-color: $light2;
		color: $light1;
	}
	&.alert-danger {
		background-color: $light2;
		color: $light1;
	}
	&.alert-info {
		background-color: #cccc75;
	}
}
.card-img {
	width: auto;
}

.vich-image {
	a {
		display: block;
		width: 100%;
		text-align: center;
		img {
			@extend .mb-2;
			@extend .rounded;
			@extend .shadow;
			@extend .img-thumbnail;
		}
	}

	.form-check {
		padding: 0;
		@extend .mt-3;
		text-align: center;
		color: red;
		.form-check-label {
			cursor: pointer;
		}
		#card_imageFile_delete {
			position: absolute;
			top: -10000px;
		}
	}
}

.indexCard {
	background-color: $opaque;
	color: $light1;
	.imgContainer {
		width: 300px;
		height: 300px;
		display: flex;
		justify-content: center;
		align-items: center;
		overflow: hidden;
		img {
			transition: 0.5s ease-out;
		}
	}
	&:hover {
		img {
			transform: scale(1.2);
		}
	}
}

#cardShow,
#cardEdit,
#cardCreate {
	background-color: $opaque;
	color: $light1;
	i{
		color: $primary;
	}
}

#cardShow {
	.imgContainer{
		display: flex;
		justify-content: center;
		align-items: center;
		min-width: 350px;
		min-height: 350px;
	}
}

#rememberMeSpan, #registerSpan{
	width: 15px;
	height: 15px;
	border: 1px $primary solid;
}

.form-check-label{
	cursor:pointer;
}

#registerSpan {
	position: absolute;
	top: 25%;
	left: 0;
	
}
#registration_form_agreeTerms {
	visibility: hidden;
}

#myRegistrationForm {
	form {
		@extend .col-6, .m-auto;
	}
}

// Erreurs
.form-error-message{
	color: $primary;
}
.form-check-input.is-invalid ~ .form-check-label{
	color: $light1;
}
.form-error-icon{
	display: none;
}
