@import url("https://fonts.googleapis.com/css2?family=Neuton&display=swap");

.alert {
	padding: 10px;
	color: white;
	text-align: center;
	margin: 0;
	border: none;
	border-radius: 0;
	&.alert-success {
		background-color: green;
	}
	&.alert-error {
		background-color: #f15252;
	}
	&.alert-info {
		background-color: #cccc75;
	}
}
