@import url("https://fonts.googleapis.com/css2?family=Neuton&display=swap");
@import "shared/variables";
@import "~bootstrap";

html,
body {
	font-family: "Neuton", serif;
}

.alert {
	padding: 10px;
	color: white;
	text-align: center;
	margin: 0;
	border: none;
	border-radius: 0;
	&.alert-success {
		background-color: green;
	}
	&.alert-error {
		background-color: $primary;
	}
	&.alert-info {
		background-color: #cccc75;
	}
}

.vich-image {
	a {
		display: block;
		width: 100%;
		text-align: center;
		img{
		@extend .mb-2;
		@extend .rounded;
		@extend .shadow;
		@extend .img-thumbnail;
		}
	}
	
	.form-check{
		padding: 0;
		@extend .mt-3;
		text-align: center;
		color: red;
		.form-check-label {
			cursor: pointer;
		}
		#card_imageFile_delete{
			position: absolute;
			top: -100000px;
		}
	}
}
